<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button label="New Order" icon="pi pi-plus" (onClick)="this['openNew']()" severity="success"></p-button>
    <p-button
      label="Delete Selected"
      icon="pi pi-trash"
      (onClick)="deleteSelectedOrders()"
      severity="danger"
      [disabled]="!selectedOrders || !selectedOrders.length"
    ></p-button>
  </div>
</p-toolbar>

<p-table [value]="orders" [(selection)]="selectedOrders" dataKey="id" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">Order ID</th>
      <th pSortableColumn="user">User</th>
      <th pSortableColumn="product">Product</th>
      <th pSortableColumn="quantity">Quantity</th>
      <th pSortableColumn="total">Total</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.user }}</td>
      <td>{{ order.product }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.quantity * order.unitPrice | currency }}</td>
    </tr>
  </ng-template>
</p-table>
